@CHARSET "ISO-8859-1";

body {
	background: -webkit-linear-gradient(left, lightgray, #606060 ); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, lightgray, #606060 ); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, lightgray, #606060 ); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, lightgray , #606060 ); /* Standard syntax */
	margin: 0px;
}

div#searchDiv {
	text-align: center;
	margin-top: 50px;
	font-size: 30px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	vertical-align: center;
}

div#searchDiv a {
	
	background: -webkit-linear-gradient(#BDDEFF, #808080, #BDDEFF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#BDDEFF, #808080, #BDDEFF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#BDDEFF, #808080, #BDDEFF); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#BDDEFF, #808080, #BDDEFF); /* Standard syntax */
	border-radius: 10px;
	padding: 10px;
	border: thin solid black;
	text-decoration: none !important;
	color: black;
	font-weight: bold;
	display: inline-block;
	height: 45px;
}

div#searchDiv #searchText {
	border-radius: 10px;
	width: 600px;
	height: 60px;
	font-size: 35px;
	margin-top: -1px;
}

.ui-autocomplete {
	font-size: 30px;
	border-radius: 10px;
	max-width: 600px;
	max-height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
}