@CHARSET "ISO-8859-1";

body {
	background: -webkit-linear-gradient(left, lightgray, #606060 ); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, lightgray, #606060 ); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, lightgray, #606060 ); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, lightgray , #606060 ); /* Standard syntax */
	margin: 0px;
}

button {
	background: -webkit-linear-gradient(#BDDEFF, #808080, #BDDEFF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#BDDEFF, #808080, #BDDEFF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#BDDEFF, #808080, #BDDEFF); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#BDDEFF, #808080, #BDDEFF); /* Standard syntax */
	border-radius: 5px;
	border: thin solid black;
	padding: 5px;
}

button[disabled] {
	background: #86868E;
	border-color: #929299;
}

button:hover:not([disabled]) {
	background: -webkit-linear-gradient(#D1E8FF, #808080, #D1E8FF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#D1E8FF, #808080, #D1E8FF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#D1E8FF, #808080, #D1E8FF); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#D1E8FF, #808080, #D1E8FF); /* Standard syntax */
}

button:active:not([disabled]) {
	background: -webkit-linear-gradient(#D1E8FF, #666666, #D1E8FF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#D1E8FF, #666666, #D1E8FF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#D1E8FF, #666666, #D1E8FF); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#D1E8FF, #666666, #D1E8FF); /* Standard syntax */
}

div#innerResultsDiv {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

div#outerResultsDiv {
	width: 100%;
}

div#innerResultsDiv #cardImage,
div#innerResultsDiv #crdImg {
	float: left;
	width: 230px;
	height: 315px;
}

div#innerResultsDiv #cardDetails {
	display: inline;
	margin: 20px;
	float: right;
}

div#searchDiv {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 100px;
	font-size: 30px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	vertical-align: center;
}

div#searchDiv #searchButton {
	padding: 10px;
	font-size: 30px;
	font-weight: bold;
	height: 60px;
}

div#searchDiv #searchCombo {
	border-radius: 10px;
	height: 60px;
	font-size: 35px;
}

div#searchDiv .custom-combobox-input {
	width: 600px;
}

table#detailsTable {
	border-collapse: collapse;
	font-family: Verdana, Geneva, sans-serif;
	background: -webkit-linear-gradient(#A5B0C2, #B7C3D7); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#A5B0C2, #B7C3D7); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#A5B0C2, #B7C3D7); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#A5B0C2, #D4D9E1); /* Standard syntax */
}

table#detailsTable .withButton {
	text-align: center;
}

table#detailsTable td, table#detailsTable th {
	padding: 5px;
}
table#detailsTable td{
	font-weight: bold;
	border: thin solid #A5B0C2;
	color: gray;
}

table#detailsTable th {
	/* background-color: #4b689b; */
	color: #3a5078;
	text-align: center;
	background: -webkit-linear-gradient(#4b689b, #A5B4CD, #4b689b); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#4b689b, #A5B4CD, #4b689b); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#4b689b, #A5B4CD, #4b689b); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#4b689b, #A5B4CD, #4b689b); /* Standard syntax */
}

.ui-autocomplete {
	font-size: 30px;
	border-radius: 10px;
	width: 600px;
	max-height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
}